<div class="main">
  <h1 class="title">My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <div class="search">
    <input
      class="search-input"
      type="text"
      placeholder="Search project"
      [(ngModel)]="term"
    />
    <img
      src="https://cdn-icons-png.flaticon.com/512/3963/3963073.png"
      class="searchImg"
    />
  </div>

  <div class="btn-primary-block">
    <button class="btn-primary"  (click)="modalService.open('project')">
      Add project
    </button>
  </div>

  <div class="btn-wrapper">
    <button class="btn btn-menu" (click)="filterItemsAll()"
    [class.active]="filter == 'all'">All</button>

    <button class="btn btn-menu"(click)="filterItemsByDay()"
    [class.active]="filter == 'day'">Day</button>

    <button class="btn btn-menu"(click)="filterItemsByMonth()"
    [class.active]="filter == 'month'">Month</button>
  </div>

  <ul>
    <li *ngFor="let project of dataService.projects | filterProjectByDate: filter | search: term;  let i = index">
      <app-project [filter] = "filter" (remove)="remove(project)" [project]="project"></app-project>
    </li>
  </ul>
  <app-modal *ngIf="modalService.isVisible$ | async">
    <app-create-project *ngIf="modalService.type == 'project'"></app-create-project>
    <app-create-task [project] = "modalService.project" *ngIf="modalService.type == 'task'"></app-create-task>
  </app-modal>
</div>
