.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(97, 86, 100, 0.5);
}
.modal-info {
  max-width: 400px;
  max-height: 500px;
  margin: 2rem auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: blueviolet;
  border: 3px solid white;
  border-radius: 20px;
  opacity: 1;
  position: absolute;
}
.modal-info{
  padding: 20px;
  color: white;
}
